if (!isModal)
    div#floating-frame
        p#floating-frame-message1
        p#floating-frame-message2
        p#floating-frame-message3

+modalBuilder('xl')
+contextMenu()

</div>

script.

    $(function () { $('[data-toggle="tooltip"]').tooltip(); });

    function floatingMessage(message1, message2, message3) {
        const msg1 = $('#floating-frame-message1');
        const msg2 = $('#floating-frame-message2');
        const msg3 = $('#floating-frame-message3');
        msg1.text(message1).fadeIn(1000, function() {
            setTimeout(function() {
                msg2.text(message2).fadeIn(1000, function() {
                    setTimeout(function() {
                        msg3.text(message3).fadeIn(1000, function() {
                            setTimeout(function() {
                                msg1.fadeOut(1000);
                                msg2.fadeOut(1000);
                                msg3.fadeOut(1000);
                            }, 3000);
                        });
                    }, 1000);
                });
            }, 1000);
        });
    }

    $(document).ready(function() {
        $('#modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var config = button.data()
            var modal  = $(this)

            console.log('config', config)

            modal.find('.modal-title').text(config.name)

            if (config.type === 'img') {
                modal.find('#modal-body-image').show().attr('src', config.image)
                modal.find('#modal-body-desc').html(`${config.description || ''}`)
                modal.find('#modal-body-extra').html(`Credit: ${config.owner} Uploaded: ${new Date(config.uploaddate).toLocaleDateString()}`)
                modal.find('#modal-download-link').show().attr('href', `${config.image}`)
            } else {
                modal.find('#modal-download-link').hide()
                modal.find('#modal-body-image').hide()
            }

            if (config.type === 'pdf') {
                modal.find('#modal-pdf-controls').show()
                modal.find('#modal-pdf-viewer-canvas').show()
                modal.find('#modal-download-link').show().attr('href', `${config.pdf}`)
                pageNum = 1;
                pdfjsLib.getDocument(config.pdf).promise.then(function(pdfDoc_) {
                    pdfDoc = pdfDoc_;
                    document.getElementById('pdf-page-count').textContent = pdfDoc.numPages;
                    renderPage(pageNum);
                });
            } else {
                modal.find('#modal-pdf-controls').hide()
                modal.find('#modal-pdf-viewer-canvas').hide()
                modal.find('#modal-download-link').hide()
            }

            if (config.type === 'frm') {
                modal.find('#frm-modal-content').show().attr('src', `${config.src}?modal=true`)
                modal.find('.modal-dialog').attr('class', `modal-${config.size}`)
                modal.find('#modal-body-desc').hide().html(`${config.description || ''}`)
                modal.find('#modal-edit-link').hide()
                modal.find('.modal-desc-container').hide()
            } else {
                modal.find('#frm-modal-content').hide()
                modal.find('#modal-edit-link').show().attr('href', `/images/edit/${config.id}`)
                modal.find('.modal-desc-container').show()
            }

        })

        var pdfjsLib = window['pdfjs-dist/build/pdf'];
        pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.7.570/pdf.worker.min.js';

        var pdfDoc = null,
            pageNum = 1,
            pageRendering = false,
            pageNumPending = null,
            canvas = document.getElementById('modal-pdf-viewer-canvas'),
            ctx = canvas.getContext('2d');

        function renderPage(num) {
            pageRendering = true;
            pdfDoc.getPage(num).then(function(page) {
                var scale = 1.5;
                var viewport = page.getViewport({ scale: scale });

                canvas.height = viewport.height;
                canvas.width  = viewport.width;
                ctx.clearRect(0, 0, canvas.width, canvas.height);

                var renderContext = { canvasContext: ctx, viewport: viewport };
                var renderTask    = page.render(renderContext);

                renderTask.promise.then(function() {
                pageRendering = false;
                if (pageNumPending !== null) {
                    renderPage(pageNumPending);
                    pageNumPending = null;
                }
                });
            });
            document.getElementById('pdf-page-number').textContent = pageNum;
            document.getElementById('pdf-page-count').textContent  = pdfDoc.numPages;
        }

        function queueRenderPage(num) {
            if (pageRendering) {
                pageNumPending = num;
            } else {
                renderPage(num);
            }
        }

        function onPrevPage() {
            if (pdfDoc.numPages == 1) return;
            if (pageNum <= 1) {
                pageNum = pdfDoc.numPages
            } else {
                pageNum--;
            }
            queueRenderPage(pageNum);
        }

        function onNextPage() {
            if (pdfDoc.numPages == 1) return;
            if (pageNum >= pdfDoc.numPages) {
                pageNum = 1
            } else {
                pageNum++;
            }
            queueRenderPage(pageNum);
        }

        document.getElementById('modal-pdf-prev').addEventListener('click', onPrevPage);
        document.getElementById('modal-pdf-next').addEventListener('click', onNextPage);

        $("#modal .modal-content").draggable({ handle: ".modal-header" });
    });

    
    document.addEventListener('DOMContentLoaded', function() {
        const contextMenu = document.getElementById('customContextMenu');

        document.addEventListener('contextmenu', function(event) {
            event.preventDefault();
            contextMenu.style.top = `${event.pageY}px`;
            contextMenu.style.left = `${event.pageX}px`;
            contextMenu.style.display = 'block';
        });
        document.addEventListener('click', function() { contextMenu.style.display = 'none'; });
        contextMenu.addEventListener('contextmenu', function(event) { event.preventDefault(); });

        //-----
        var holdDeleteBtn = document.getElementById('holdDeleteBtn');
        var deleteForm    = document.getElementById('deleteForm');
        var holdTimeout;

        holdDeleteBtn.addEventListener('mousedown', function() {
        holdTimeout = setTimeout(function() {
            if (confirm('Are you sure you want to delete this page?')) { deleteForm.submit(); }
        }, 3000);
        });

        holdDeleteBtn.addEventListener('mouseup',    function() { clearTimeout(holdTimeout); });
        holdDeleteBtn.addEventListener('mouseleave', function() { clearTimeout(holdTimeout); });

        //-----
        var contentTextarea = document.getElementById('content');
        var contentPreview  = document.getElementById('contentPreview');

        contentTextarea.addEventListener('input', function() { contentPreview.innerHTML = contentTextarea.value; });
        contentPreview.innerHTML = contentTextarea.value;

        //-----
        const iframeModal        = document.getElementById('frmModal');
        const iframeModalContent = document.getElementById('frmModalContent');

        iframeModal.addEventListener('show.bs.modal',   function () { iframeModalContent.src = '/templates/add'; });
        iframeModal.addEventListener('hidden.bs.modal', function () { iframeModalContent.src = ''; });

    });

    // Example JavaScript for updating progress bar (for AJAX upload)
    document.getElementById('uploadForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData(this);
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/upload', true);

        xhr.upload.onprogress = function(e) {
            if (e.lengthComputable) {
                const percentComplete = (e.loaded / e.total) * 100;
                document.getElementById('uploadProgress').style.width = percentComplete + '%';
            }
        };

        xhr.send(formData);
    });