mixin fCell(format, value, extra)
    td(class=`${format}`)
        if extra
            if extra.type == 'Cross'
                span.cell.grid-icon.dynamic-icon(class=`cross${extra.name}` data-toggle='tooltip' title='<b>Cross:</b> This unit may cross this terrain type')
                    i(class=`fas fa-person-walking-dashed-line-arrow-right`)
            if extra.type == 'Defense'
                span.cell.grid-icon.dynamic-icon(class=`defended${extra.name}` data-toggle='tooltip' title='<b>Defended:</b> This unit is hit on a natural 5+')
                    i(class=`fas fa-shield-halved`)
                span.cell.grid-icon.dynamic-icon(class=`fortified${extra.name}` data-toggle='tooltip' title='<b>Fortified:</b> This unit is hit on a natural 6+')
                    i(class=`fas fa-shield`)
            if extra.type == 'Impact'
                if extra.name.includes('Monster') || extra.name.includes('Chariot')
                    span.cell.grid-icon(data-toggle='tooltip' title='<b>Impact:</b> +1 Attack when Charging.')
                        i(class=`fas fa-bolt`)
            if extra.tooltip
                span.cell.keyword(data-toggle='tooltip' title=extra.tooltip)=value || '-'
            else
                span=value || '-'
                if extra.type == 'Points'
                    div(id=`unit-points-${extra.id}` class='inline' style='margin-left: 4px;' data-unitcost=value data-unitpoints=0)
                if extra.type == 'Count'
                    div(id=`unit-count-${extra.id}`  class='inline' style='margin-left: 4px;' data-unitcount=0)
        else
            span=value || '-'

mixin fButt(format,icon,name)
    td(class=`${format}`)
        div(class='quick-list' style='display: none;')
            button(id=`unit-plus-${name}` class=`btn-sm btn-info btn-minus inline` type='button' onclick=`changeUnitCount('${name}',-1)`)
                i(class=`fas fa-fw fa-minus`)
            button(id=`unit-minus-${name}` class=`btn-sm btn-info btn-success inline` type='button' onclick=`changeUnitCount('${name}')`)
                i(class=`fas fa-fw fa-plus`)
