mixin warmasterUnits(config, cols, rows)
  table.table-striped.smaller(style="width: 100%")
    tr
      each col in cols
        th(class=col.format)=col.name

    each row in rows
      if row.type.name == 'General'
        tr
          td.spacer(colspan=cols.length)
      
      tr(class=`dynamic-row unitType${row.type.name}`)
        +fCell(cols[0].format, row.name, { tooltip: row.mounts ? `<b>Mounts:</b> ${row.mounts}` : '' })

        +fCell(cols[1].format, row.type.name, { tooltip: `<p>${row.type.description}</p> ${row.type.name.includes('Flying') ? warmCore.flying.block : ''}` })
        
        +fCell(cols[2].format, `${row.type.movement}cm`, { type: 'Cross', name: row.type.name })

        +fCell(cols[3].format, row.attacks, { type: 'Impact', name: row.type.name, tooltip: row.range ? `<b>Range:</b> ${row.range}cm`: '' })

        +fCell(cols[4].format, row.hits, { type: 'Defense', name: row.type.name })

        +fCell(cols[5].format, row.armour ? `${row.armour}+` : '' )

        +fCell(cols[6].format, row.command)

        +fCell(cols[7].format, row.size)

        +fCell(cols[8].format, row.points)

        +fCell(cols[9].format, `${row.min || '-'} / ${row.max || '-'}`)

        td
          +renderSpecialRules(row.specialRules)

      // Spell Information for Units with Spells
      if row.spells.length
        tr.dynamicRow
          td
          td(colspan=cols.length - 1)
            each spell in row.spells
              div.keyword(class='info' data-toggle='tooltip' title=`<p><b>Target:</b> ${spell.target}</p><p><b>Line of Sight:</b> ${spell.los}</p><p><b>Description:</b> ${spell.description}</p><p class="align-center"><i>"${spell.flavour}"</i></p>`)= `${spell.name} [${spell.range}cm, ${spell.cast}+`
                if spell.los
                  span=', '
                  span(class='fas fa-fw fa-eye')
                span= ']'

//- Define the mixin for rendering special rules
mixin renderSpecialRules(specialRules)
  each rule in specialRules
    - let tooltipChart = ''
    if rule.chart
      - tooltipChart = `<div class='tooltip-chart'><p>${rule.chart.name} (${rule.chart.roll})</p>${rule.chart.lines.map(line => `${line.roll || '' } <b>${line.name}</b>: ${line.text}`).join('<p></p>')}</div>`
    - const tooltipHeader  = `<div class='tooltip-head'><b>${rule.name}</b> <span class='smaller pull-right'>${rule.boon ? 'Positive' : 'Negative'}</span></div>`
    - const tooltipContent = `<div class='tooltip-body'>${tooltipHeader}<p>${rule.description}</p>${tooltipChart}</div>`
    div.keyword(class=`${rule.boon ? 'success' : 'danger'}` data-toggle='tooltip' title=tooltipContent)=`${rule.name}`