//- Main Navbar Structure
nav.navbar.navbar-expand-lg.navbar-light
    span.server-status='API Online...'
    a.navbar-brand(href='/')
        img.navbar-brand-img(class='brand-logo' src='/images/hh.png' title='Hobby Hangout')
    
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    
    div.collapse.navbar-collapse#navbarNav
        div.navbar-deep
            ul.navbar-nav.mr-auto
                each gameSystem, index in gameSystems
                    +dropdownWithSubmenu(gameSystem.name, index, categorizedPages[gameSystem.name])
                
                +navbarLinkItem('/gallery', 'Gallery', null, 'nav-link')
                +navbarLinkItem('/archive', 'Archive', null, 'nav-link nav-link-end')

        ul.navbar-nav.ml-auto
            if user
                if user.role === 'admin'
                    +dropdown('gear', 'nav-link-start', [
                        { href: '/logs', text: 'Logs' },
                        { href: '/add', text: 'Add Page' },
                        { href: '/upload', text: 'Upload File' },
                        { href: '/game-systems', text: 'Game Systems' },
                        { href: '/templates', text: 'Templates' },
                        { href: '/roles', text: 'Roles' },
                        { href: '/users', text: 'Users' }
                    ])
                        
                +navbarLinkItem('/account', '', 'fa fa-fw fa-user')
                +navbarLinkItem('/logout', '', 'fa fa-fw fa-right-from-bracket')

if page
    span.breadcrumbs.pull-left
        a(href='#')= page.category.name
        span= ` / ${page.title}`

if user
    span.breadcrumbs.pull-right=`${user.firstName} ${user.lastName} (${user.username})`