include partials/header

h2 PDF
if pdfs.length
  .row
    .col-md-6
      p
        table.table.table-striped
          tr 
            th Category
            th Name
          each pdf in pdfs
            tr
              td
                if pdf.category
                  span.text-muted #{pdf.category.name}
              td 
                a(href='#', data-type='pdf', data-toggle='modal', data-id=`${pdf._id}` data-target='#modal', data-pdf=`/uploads/${pdf.filename}`, data-name=pdf.name, data-description=pdf.description, data-uploaddate=pdf.uploadDate, data-owner=pdf.owner)
                  span=pdf.name || `Missing Name`

include partials/footer