include partials/header

p=JSON.stringify(page, null, 2)

p=page.category ? page.category._id : ''

p=page.template ? page.template._id : ''

form(action=`/pages/edit/${page._id}`, method='POST', onsubmit='floatingMessage("Saving changes...", "...success!", "Reloading page!")')
  table.table
    tr
      td
        +formInput('title', 'text', 'Title', page ? page.title : '', true, true)
    tr
      td
        +formSelect('category', 'Category', gameSystems.map(gs => ({ value: gs._id, text: gs.name })), page.category ? page.category._id.toString() : '', true)
    tr
      td
        +formSelect('template', 'Page Template', pageTemplates.map(pt => ({ value: pt._id, text: pt.name })), page.template ? page.template._id.toString() : '', true)
    tr
      td
        +formTextarea('content', 'Content', page ? page.content : '', true, true)
        +formTextareaPreview()
    tr 
      td 
        +formButton('Save Changes', 'submit', 'btn-success pull-right', 'save')
        </form>
        +deleteButton(`Deleting ${page.title}`)

include partials/footer
