include partials/header

h2 Gallery
if images.length
  .row
    each image in images
      .col-md-2
        a(href='#', data-toggle='modal', data-id=`${image._id}` data-target='#imgModal', data-image=`/uploads/${image.filename}`, data-name=image.name, data-description=image.description, data-uploaddate=image.uploadDate, data-owner=image.owner)
          img(src=`/uploads/${image.filename}`, alt=image.name || 'Image', class='img-thumbnail', style='max-width: 100%; height: auto;')
        p
          span=image.name || 'No Name'
          if image.category
            span.text-muted  - #{image.category.name}

h2 PDF
if pdfs.length
  .row
    .col-md-6
      p
        table.table.table-striped
          tr 
            th Category
            th Name
          each pdf in pdfs
            tr
              td
                if pdf.category
                  span.text-muted #{pdf.category.name}
              td 
                a(href='#', data-toggle='modal', data-id=`${pdf._id}` data-target='#pdfModal', data-pdf=`/uploads/${pdf.filename}`, data-name=pdf.name, data-description=pdf.description, data-uploaddate=pdf.uploadDate, data-owner=pdf.owner)
                  span=pdf.name || 'No Name'

+modalBuilder('img', 'xl', 'imgModalLabel')
+modalBuilder('pdf', 'xl', 'pdfModalLabel')

include partials/footer