extends ../page

block content
  if warmUnits
    table.table-striped
      tr
        th='Name'
        th='Type'
        th='Move'
        th='Attacks'
        th='Hits'
        th='Armour'
        th='Command'
        th='Size'
        th='Points'
        th='Min/Max'
        th='Rules'
      each unit in warmUnits
        tr
          td=unit.name
          td
            span(class='keyword' data-toggle='tooltip' title=`${unit.type.description}`)=unit.type.name
          td
            span(class='keyword' data-toggle='tooltip' title=`${unit.tooltip}`)=`${unit.type.movement}cm`
          td
            span(class='keyword' data-toggle='tooltip' title=`${unit.range} cm`)=unit.attacks
          td
            span(class='')=unit.hits ? `${unit.hits}` : '-'
          td
            span(class='')=unit.armour ? `${unit.armour}+` : '-'
          td
            span(class='')=unit.command ? `${unit.command}` : '-'
          td
            span(class='')=unit.size ? `${unit.size}` : '-'
          td
            span(class='')=unit.points
          td=`${unit.min ? `${unit.min}` : '-'}/${unit.max ? `${unit.max}` : '-'}`
          td
            each rule in unit.specialRules
              span(class=`keyword ${rule.boon ? 'success' : 'danger'}` data-toggle='tooltip' title=`${rule.description}`)=`${rule.name}`
