extends ../page

block content
  if wfrpItems
    table.table-striped
      tr
        th='Name'
        th='Description'
        th='Price'
        th='Enc'
        th(colspan="2")='Source'
      each item in wfrpItems
        tr
          td=item.name
          td=item.desc
          td=item.price
          td=item.enc
          each source in item.sources
            td
              span=`${source.source.name}`
                each page in source.pages
                  a(href="#" data-type="pdf" data-toggle="modal" data-id="66f5db52ccb58423870b7111" data-target="#modal" data-pdf=`${source.source.filename}` data-name=`${source.source.name}` data-description="" data-uploaddate="2024-09-26T22:08:18.437Z" data-owner="" data-page=`${page.trim()}`)=` ${page}`