script.
    function initContextMenu() {
        const contextMenu = document.getElementById('contextMenu');
        var activeContext
        var devSwitch = false
        
        let developmentMode = false;

        document.addEventListener('keydown', (e) => {
            if (e.ctrlKey && e.altKey && e.key.toLowerCase() === 'd') {
                e.preventDefault(); 
                
                developmentMode = !developmentMode;
                if (developmentMode) {
                    console.log('Development mode activated');
                    alert('Development mode activated');
                } else {
                    console.log('Development mode deactivated');
                    alert('Development mode deactivated');
                }
            }
        })

        document.addEventListener('contextmenu', function(event) {
            const config = $(event.target).data()
            console.log('config', config)
            console.log('event.target', event.target)
            if (developmentMode == false) event.preventDefault();

            contextMenu.style.top     = `${event.pageY}px`;
            contextMenu.style.left    = `${event.pageX}px`;
            contextMenu.style.display = 'block';

            if (config.context) {
                var contextImageEdit = $('#context-image-edit')
                contextImageEdit.data('src', `/images/edit/${config._id}`)
                contextImageEdit.data('name', `${event.target.alt}`)

                activeContext = $(`#context-${config.context}`)
                
                $('#clipboard-url').find('*').data('text', `${event.target.src}`)
                $('#download-url').attr('href', `${event.target.src}`)
                $('#maximise-url').attr('href', `${event.target.src}`)

                contextData = config
                $(activeContext).show()
            } else {
                $(activeContext).hide()
                activeContext = ''
            }
        })
        document.addEventListener('click', function() {
            if (activeContext !== undefined) activeContext.hide()
            contextMenu.style.display = 'none'
        })
        contextMenu.addEventListener('contextmenu', (event) => { event.preventDefault(); });
        return activeContext
    }
